*{
	padding: 0;
	margin: 0;
}
body{
	background-image: 'Back.png';
	
}

.contenedor-club{
	margin-top: 9vh;
	margin-left: 8vw;
	margin-right: 8vw;
}

.title{
	text-align: center;
	margin-bottom: 3.5vh;
}
h2{
	font-size: 3vw;
}
p{
	text-align: justify;
	font-size: 1.5vh;
}


.clase1{
    margin-right:58vw;
}
.clase1:hover{
	background-color: #EEDAC8;
}
.titulo1{
	text-align: center;
	margin-bottom: 2vh;
}
img{
	width: 17vw;
}
.img1{
	margin-left: 4vw;
	margin-right: 3.8vw;
}
.texto1{
	margin-top: 2vh;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
	margin-bottom: 2vh;
}


.clase2{
	margin-top: -54vh;
    margin-right:29vw;
    margin-left: 30vw;
}
.clase2:hover{
	background-color: #EEDAC8;
}
.titulo2{
	text-align: center;
	margin-bottom: 2vh;
}
img{
	width: 17vw;
}
.img2{
	margin-left: 4vw;
	margin-right: 3.8vw;
}
.texto2{
	margin-top: 2vh;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
	margin-bottom: 2vh;
}


.clase3{
	margin-top: -54vh;
    margin-right:0vw;
    margin-left: 60vw;
}
.clase3:hover{
	background-color: #EEDAC8;
}
.titulo3{
	text-align: center;
	margin-bottom: 2vh;
}
img{
	width: 17vw;
}
.img3{
	margin-left: 4vw;
	margin-right: 3.8vw;
}
.texto3{
	margin-top: 2vh;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
	margin-bottom: 2vh;
}


.contenedor-tabla{
	margin-top: 9vh;
	margin-left: 8vw;
	margin-right: 8vw;
}
.tabla{
	margin-left: 30vw;
	margin-right: 40vw;
}
.title2{
	text-align: center;
	margin-bottom: 3.5vh;
}
table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #EEDAC8;
}
.even {
	background: #EEDAC8;
}
.odd {
	background: #EEDAC8;
}