@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap" rel="stylesheet');
*{
    margin:0;padding:0;box-sizing:border-box;font-family: 'Montserrat', sans-serif;list-style-type: none; text-decoration: none;color:black;
   
}
#navigation-bar{
    width:100%;
}
nav{
  background-color:#DC3639;color:white;font-weight: 500;
}
nav ul{
    margin:10px 20px 0px 260px;display:inline-flex;
}
nav ul li{
    margin:16px 35px 5px 35px;
}
nav ul li a:hover{
    transition:all 300ms;color:black;
}
nav ul img{
    width:70px;height:70px;
}
nav ul li a{
    color:rgb(255, 255, 255);transition:all 300ms;
}
.imagen1{
    position:absolute; width:200px;left:0;
}
.imagen3{
    position:absolute;right:0; width:150px;
}

/*footer*/
#footer-section{
    width:100%;
    position:relative;
    top:537px;
}
#footer-section .social-media{
    width:300px;
}
#footer-section .social-media img{
    margin: 0px 10px 0px 20px;
}
#footer-section .crewmates{
    width:450px;
    float:right;
    margin-top:-25px;
    font-weight:800;
}


/*Contenido de la pagina*/
#content-page{
    width:100%;
}
#content-page img{
    position:absolute;
    width:500px;
    height:500px;
    margin:10px 100px 0px 450px;
}

